.card__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-background-color);
  margin: auto;
  padding: 25px 21px 25px;
}
