.form-profile__save-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
  background-color: var(--form-profile-text-color);
  border: none;
  border-radius: 2px;
  margin-top: 32px;
  padding: 14px 125px;
  cursor: pointer;
}

.form-profile__save-button:hover {
  background-color: var(--form-profile-button-hover-color);
}
