.card__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: .6;
}
